html, body, #container {
  height: 100%;
}

#rightContainer, #leftContainer {
  max-height: 90vh;
}

#rightHeader {
  height: 40px;
  margin: 1rem;
}

#update, #stop {
  background-color: #454e55;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    border: 1px solid #454e55;;
}

#update:hover, #stop:hover {
  background-color: #323a41;
  border: 1px solid #4b5157;
}

.buttonText {
  font-size: 1rem;
  font-weight: 600;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


.fa-play {
  visibility: hidden;
}

tr:hover .fa-play {
  display: block;
  visibility: visible;
}

#mainTableContainer, #favoriteTableContainer {
  overflow: auto;
  max-height: 100%;
}

#mainTable {
  overflow-x: hidden;
}