html, body, #container {
  height: 100%;
  overflow: hidden;
}

#rightContainer, #leftContainer {
  max-height: 90vh;
  overflow-x: hidden;
}

#rightHeader {
  height: 40px;
  margin: 1rem;
}

/** should be a class ? **/
#update, #stop, #speakBtn, #pickLanguageBtn {
  background-color: #454e55;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    border: 1px solid #454e55;;
}

#update:hover, #stop:hover {
  background-color: #323a41;
  border: 1px solid #4b5157;
}

.buttonText {
  font-size: 1rem;
  font-weight: 600;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


.fa-trash {
  visibility: hidden;
  padding-left: 25%
}

tr:hover .fa-trash {
  visibility: visible;
}

.fa-play {
  visibility: hidden;
}

tr:hover .fa-play {
  visibility: visible;
}

#mainTableContainer, #favoriteTableContainer {
  overflow-x: hidden;
  max-height: 100%;
}

#textAreaDiv {
  padding: 20px;
}

#mainTable {
  overflow-x: hidden;
}

/* Curtesy of https://stackoverflow.com/questions/17012421/auto-number-table-rows user36918333*/
#favoriteTableContainer {
  counter-reset: rowNumber;
}

#favoriteTableContainer tr:not(:first-child) {
  counter-increment: rowNumber;
}

#favoriteTableContainer tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}